<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ゆいキャン - ログイン</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container vh-100 d-flex flex-column justify-content-center align-items-center">
        <h1 class="mb-4">ゆいキャン</h1>
        <a href="{{ url_for('signin') }}" class="btn btn-primary w-25 mb-3">新規登録</a>
        <a href="{{ url_for('login') }}" class="btn btn-primary w-25">ログイン</a>
        <footer class="mt-4">
            <p class="text-center">&copy; 2024 ゆいキャン</p>
        </footer>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
